@mixin button($bg) {
  @include H6;
  color: $black5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $bg;
  padding: 24px 96px;
  border-radius: 4px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

@mixin button-md($bg) {
  @include button($bg);
  padding: 24px 48px;
}

.button {
  &__primary {
    @include button($primary);
  }

  &__black75 {
    @include button($black75);
  }

  &__fill {
    width: 100%;
  }
}

.button-md {
  &__primary {
    @include button-md($primary);
  }

  &__black75 {
    @include button-md($black75);
  }

  &__fill {
    width: 100%;
  }
}
